header.php
footer.php
images/
img/
**/images/
**/img/
*.jpeg
*.mp4
*.png
*.jpg
*.pdf
*.gif
*.mov
*.psd
**/*.jpeg
**/*.mp4
**/*.png
**/*.jpg
**/*.gif
**/*.pdf
plugins/
**/plugins/
.config
.htaccess
.DS_Store
.ftpconfig
.ftpignore
.wakatime-project
wp-admin/
wp-includes/
wp-config.php
wp-settings.php
